.navbar {
    position:relative !important;
    display: flex;
    flex-direction: row;
    background-color: rgb(37, 36, 36);
    z-index: 1;
    height: 5vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    padding-left: 5vh;
    padding-right: 5vh;
    
}

.nav-item {
    display: flex;
    position: relative;

}