.mantine-Calendar-calendar {
padding:0;

}

.mantine-Calendar-calendarHeader {
    align-self: center;
}


.mantine-Calendar-day {
    height: 0vw !important;   
    width: 12vw;
    margin: 0;
    padding:0;
}